<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <header class="fullwidth">
      <article class="content">
        <a id="logo" href="/"><img id="headlogo" src="/img/placeholderlogo.png" alt="blok" /><span id="logotext">blok</span></a>
      </article>
    </header>
    <section class="content">
    
